<a href="https://colab.research.google.com/github/piigor/mba/blob/main/Minera%C3%A7%C3%A3o_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# OCR - ferramenta em python para transformar figura em texto

csv = open("/content/sample_data/california_housing_test.csv")
n = 20
for i in range(n):
  linha =csv.readline()
  print(linha)

csv.close()

"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000

-118.300000,34.260000,43.000000,1510.000000,310.000000,809.000000,277.000000,3.599000,176500.000000

-117.810000,33.780000,27.000000,3589.000000,507.000000,1484.000000,495.000000,5.793400,270500.000000

-118.360000,33.820000,28.000000,67.000000,15.000000,49.000000,11.000000,6.135900,330000.000000

-119.670000,36.330000,19.000000,1241.000000,244.000000,850.000000,237.000000,2.937500,81700.000000

-119.560000,36.510000,37.000000,1018.000000,213.000000,663.000000,204.000000,1.663500,67000.000000

-121.430000,38.630000,43.000000,1009.000000,225.000000,604.000000,218.000000,1.664100,67000.000000

-120.650000,35.480000,19.000000,2310.000000,471.000000,1341.000000,441.000000,3.225000,166900.000000

-122.840000,38.400000,15.000000,3080.000000,617.000000,1446.000000,599.000000,3.669600,194400.000000

-118.020000,34.080000,31.000000,2402.000000,632.000000,2830.000000,603.000000,2.333300,164200.000000

-118.240000,33.980000,45.000000,972.000000,249.000000,1288.000000,261.000000,2.205400,125000.000000

-119.120000,35.850000,37.000000,736.000000,166.000000,564.000000,138.000000,2.416700,58300.000000

-121.930000,37.250000,36.000000,1089.000000,182.000000,535.000000,170.000000,4.690000,252600.000000

-117.030000,32.970000,16.000000,3936.000000,694.000000,1935.000000,659.000000,4.562500,231200.000000

-117.970000,33.730000,27.000000,2097.000000,325.000000,1217.000000,331.000000,5.712100,222500.000000

-117.990000,33.810000,42.000000,161.000000,40.000000,157.000000,50.000000,2.200000,153100.000000

-120.810000,37.530000,15.000000,570.000000,123.000000,189.000000,107.000000,1.875000,181300.000000

-121.200000,38.690000,26.000000,3077.000000,607.000000,1603.000000,595.000000,2.717400,137500.000000

-118.880000,34.210000,26.000000,1590.000000,196.000000,654.000000,199.000000,6.585100,300000.000000

In [ ]:

import pandas as pd

pd.read_csv("/content/sample_data/california_housing_test.csv", nrows=20)

    longitude  latitude  ...  median_income  median_house_value
0     -122.05     37.37  ...         6.6085            344700.0
1     -118.30     34.26  ...         3.5990            176500.0
2     -117.81     33.78  ...         5.7934            270500.0
3     -118.36     33.82  ...         6.1359            330000.0
4     -119.67     36.33  ...         2.9375             81700.0
5     -119.56     36.51  ...         1.6635             67000.0
6     -121.43     38.63  ...         1.6641             67000.0
7     -120.65     35.48  ...         3.2250            166900.0
8     -122.84     38.40  ...         3.6696            194400.0
9     -118.02     34.08  ...         2.3333            164200.0
10    -118.24     33.98  ...         2.2054            125000.0
11    -119.12     35.85  ...         2.4167             58300.0
12    -121.93     37.25  ...         4.6900            252600.0
13    -117.03     32.97  ...         4.5625            231200.0
14    -117.97     33.73  ...         5.7121            222500.0
15    -117.99     33.81  ...         2.2000            153100.0
16    -120.81     37.53  ...         1.8750            181300.0
17    -121.20     38.69  ...         2.7174            137500.0
18    -118.88     34.21  ...         6.5851            300000.0
19    -122.59     38.01  ...         6.1724            414300.0

[20 rows x 9 columns]

In [3]:
import pandas as pd
pd.read_xml("/content/drive/MyDrive/pos unifor/Programação/evtMovOpFin.xml")

                     id  ...  {http://www.eFinanceira.gov.br/schemas/evtMovOpFin/v1_2_0}mesCaixa
0  ID000000000000000001  ...                                                NaN

[1 rows x 5 columns]